





#head-text-homepage{
    align-items: center;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
}

#h4-homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Asegúrate de que el contenedor ocupe todo el ancho disponible */
}
.icons-project-page{
    width: 60px;
    height: 60px;
    margin-right: 60px;
    margin-top: 50px;
}
#icons-homepage-container{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
#email-icon-homepage{
    border-radius: 30px;
}
#about-me-homepage{
    background-color: #fdf5ec;
}
#about-me-title-home-page{
    padding-top: 50px;
    font-size: 40px;
    margin-bottom: 10px;
}
#about-me-text-home-page{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 25px;
    padding-bottom: 40px;
}
#projects-container-homepage{
    background: linear-gradient(to bottom right, #075ccc ,#7c9aff);
color: white;
padding-bottom: 80px;
}
#Projects-homePage{
    padding-top: 50px;
}



.each-box button:hover{
    background-color: #c831f7 ;
    border: 2px solid #c831f7;
    color: white;
}

#project-page-info-container{
    background-color: #fdf5ec;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3%;
    padding-right: 3%;
}
#project-page-info-container h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    padding-top: 30px;
    padding-bottom: 20px;
}
#project-page-info-container p{
    font-size: 23px;
    margin-bottom: 20px;
}
#project-page-info-container ul{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
#project-page-info-container li{
    font-size: 23px;
    font-weight: normal;
    margin-left: 20px;
}
#project-page-info-container img{
   width: 450px;
   height: 220px;
   border: 1px solid black;
   border-radius: 10px;
   margin-bottom: 100px;
   margin-top: 50px;
}
#project-img-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
#links-project-page{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    padding-bottom: 50px;
    color: #010002;
}
@media (max-width: 900px){
#title-main-image{
    width: 90%;
}

#head-homepage h1{
    font-size: 7vw;
    margin-bottom: 5%;
}

.icons-project-page{
    width: 60px;
    height: 60px;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
}

#icons-homepage-container{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
#project-img-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#project-page-info-container img{
    width: 90%;
    height: 90%;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 5%;
 }
 #links-project-page{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    margin-top: 15%;
    padding-bottom: 50px;
    color: #010002;
}
#check-other-project{
    text-align: right;
}

}